.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: column;
  align-items: center;
  justify-content: center;
  .container {
    max-width: 500px;
    max-height: 380px;
    min-width: 240px;
    min-height: 182px;
  }
}
